@import "../scss/variables.scss";
@import "../scss/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// html tag -------------------------------
a{
    color: rgba(black,.9);
    text-decoration: none;

    &.hsiao-email{
        text-decoration: underline;
    }
    &:visited{
        color: auto;
    }
}

i{
    line-height: 1;
    text-align: center;
}

input{
    box-sizing: border-box;
    font-size: 14px;
    padding: 6px 14px;
    border-radius: 2px;
    border: none;
    border: 2px solid $black-10;
    outline: none;
    font-family: 'Noto Sans TC', 'Noto Sans', Avenir, Helvetica, Arial, sans-serif;

    &:focus{
        border: 2px solid rgba($brand-color, .6);
    }
}
 
textarea{
    box-sizing: border-box;
    font-size: 14px;
    padding: 6px;
    border-radius: 2px;
    border: none;
    border: 2px solid $black-10;
    outline: none;
    width: 100%;
    resize: none;
    font-family: 'Noto Sans TC', 'Noto Sans', Avenir, Helvetica, Arial, sans-serif;

    &:focus{
        border: 2px solid rgba($brand-color, .6);
    }
}

// btn --------------------------------
.btn{
    border: 2px solid rgba($brand-color, .6);
    background-color: #fff;
    color: $brand-color;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    font-weight: bold;
    box-sizing: border-box;
    display: inline-flex;
    // display: inline-block;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: rgba($brand-color,.1);
    }
}


.btn-l{
    font-size: $fs-btn-l;
    padding: 0.5*$fs-btn-l $fs-btn-l;

    &.btn-withIcon{
        i{
            margin-left: 8px;
        }
    }

    &.btn-icon{
        //size 40px
        @include size(40px);
        font-size: 24px;
        text-align: center;
        line-height: 1;
        border-radius: 50%;
        border: none;
        padding: 0;
    }
}

.btn-s{
    font-size: $fs-btn-s;
    padding: 0.5*$fs-btn-s $fs-btn-s;

    &.btn-withIcon{
        i{
            margin-left: 4px;
        }
    }

    &.btn-icon{
        //size 32px
        @include size(32px);
        font-size: 20px;
        text-align: center;
        line-height: 1;
        border-radius: 50%;
        border: none;
        padding: 0;
    }
}

.btn-primary{
    background-color: rgba($brand-color, 1);
    color: white;
    font-weight: 500;

    &:hover{
        background-color: rgba($brand-color,.8);
    }
}

.btn-round{
    border-radius: 100px;
}


// tag -------------
.tag{
    background-color: rgba($brand-color,.1);
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 100px;
    text-align: center;
}

.tag-l{
    font-size: $fs-tag-l;
    //1.6rem
    padding: 8px 16px;
}

.tag-s{
    font-size: $fs-tag-s;
    //1.2rem
    padding: 6px 12px;
}

//page ---------------
.page{
}
//section ---------------
.section{
    position: relative;
    padding: 36px 24px;
}

//container -------------------
.wrapper{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

// title --------------------------------
// h2
.title{
    font-size: $fs-title;
    //3.2rem 
    font-weight: bold;
    line-height: 1.1;
}

//h3
.subtitle{
    font-size: $fs-subtitle;
    //2.4rem
    font-weight: bold;
    line-height: 1.1;
    color: rgba($brand-color, 1);
}

.caption{
    font-size: $fs-cap;
    //1.4rem
}

#app {
    font-family: 'Noto Sans TC', 'Noto Sans', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    color: rgba(black,.9);
    letter-spacing: .6px;

    .goTop{
        position: fixed;
        right: 24px;
        bottom: 10rem;
        @include boxShadow;
        @include size(40px);
        border: 2px solid rgba($brand-color, .6);
        opacity: 0;
        transition: .5s;
        transform: translateY(20px);
        z-index: 10;
        &.isShow{
            opacity: 1;
            transform: translateY(0);
        }
    }
}

//rwd ------------------------------
@media screen and (max-width: 991px){
    .page{
        padding-top: 110px;
    }
}

@media screen and (max-width: 767px){
    .title{
        font-size: 30px;
        margin-bottom: 16px;
    }

    .subtitle{
        font-size: 22px;
        margin-bottom: 12px;
    }

    .caption{
        font-size: 13px;
    }

    .tag-l{
        font-size: 14px;
    }

    .tag-s{
        font-size: 12px;
    }

    #app{
        font-size: 18px;
        .goTop{
            bottom: 100px;
        }
    }
}

@media screen and (max-width: 479px){
    #app{
        font-size: 16px;
        .goTop{
            bottom: 130px;
        }
    }
}
