//color --------
$black-100: rgba(black, 1);
$black-90: rgba(black, .9);
$black-80: rgba(black, .8);
$black-70: rgba(black, .7);
$black-60: rgba(black, .6);
$black-50: rgba(black, .5);
$black-40: rgba(black, .4);
$black-30: rgba(black, .3);
$black-20: rgba(black, .2);
$black-10: rgba(black, .1);

// root ----------------------
html{
    font-size: 10px;
}
