//color --------
$black-100: rgba(black, 1);
$black-80: rgba(black, .8);
$black-60: rgba(black, .6);
$black-40: rgba(black, .4);
$black-20: rgba(black, .2);
$black-10: rgba(black, .1);

$brand-color: rgba(#007158,1);


//font-size --------
$fs-tag-l: 14px;
$fs-tag-s: 12px;

$fs-btn-l: 20px;
$fs-btn-s: 16px;

$fs-btn-icon-l: 32px;
$fs-btn-icon-s: 24px;

$fs-r: 10px;

$fs-title: 22px;
$fs-subtitle: 16px;
$fs-cap: 12px;
$fs-p: 14px;


// root ----------------------
html{
    font-size: $fs-r;
}
